<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nawaras kc</title>
</head>
<body>
    <h1>Welcome to the Food App</h1>
    <p>This is the homepage for the Food App.</p>
<h2>Nawaras kc</h2>
    <button>click me</button>


{% for item in item_list%}

<ul>

    <li>
            <!--this 'detail came from urls.py name='detail'-->
         <a a href="{%url 'detail' item.id %}"> {{item.id}}--{{item.item_name}}</a>
    </li>
</ul>
{%endfor%}


</body>
<script>

    console.log("ok")
</script>
</html>
